
/*视频*/

.videoContent {
	width: 100%;
	height: 100%;
	border: 1px solid #1567f9;
}


/*视频头部*/

.videoHeader,
.data {
	width: 100%;
	height: 34px;
	border-bottom: 2px solid #1567f9;
	background: rgba(255, 255, 255, 0.2);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff, endColorstr=#33ffffff);
}

.videoHeader>span,
.data>span {
	display: block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: white;
}

.line {
	width: 4px;
	height: 20px;
	display: block;
	background-color: #01b8fd;
	margin-top: 7px;
}

.textTitle {
	margin-left: 6px;
	background-color: #195399;
	height: 28px;
	line-height: 24px;
	border: 1px solid #00677f;
	padding: 0 8px;
	margin-top: 2px;
}

.videoFrame {
	width: 96%;
	height: 320px;
	margin: 10px auto 20px auto;
}
.videoFrame>img{
	width: 100%;
	height: 320px;
}

/*日期选择*/

.selectDate {
	width: 96%;
	height: 32px;
	border: 1px solid rgb(127, 127, 127);
	margin: 0 auto;
}
.selectDate>img{
	width: 100%;
	height: 32px;
}

/*视频滚动*/

.videoScroll {
	width: 96%;
	margin: 0 auto;
}

.videoList>li {
	float: left;
	width: 50%;
	height: 164px;
	margin-top: 10px;
}

.videoPhoto {
	width: 98%;
	height: 100%;
	border: 1px solid #1567f9;
}
.videoPhoto>img{
	width: 100%;
	height: 100%;
}
.liOdd {
	float: right !important;
}


/*地图*/

.map {
	width: 100%;
	/* margin-left: 1%; */
	height: 636px;
	border: 1px solid #1567f9;
}
.map>img{
	width: 100%;
	height: 636px;
}
.dataContent {
	width: 100%;
	border: 1px solid #1567f9;
	/* margin-left: 1%; */
	margin-top: 10px;
	height: 308px;
}

.data {
	height: 34px;
	border-bottom: 2px solid #1567f9;
	background: rgba(255, 255, 255, 0.2);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff, endColorstr=#33ffffff);
}

.data>span {
	display: block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: white;
}

.dataList {
	height: 262px;
	margin: 10px auto 10px auto;
}
.dataList>img{
	width: 100%;
	height: 262px;
}

/*右侧区域*/

.stateContent {
	border: 1px solid #1567f9;
	height: 308px;
}

.state {
	height: 34px;
	border-bottom: 2px solid #1567f9;
	background: rgba(255, 255, 255, 0.2);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff, endColorstr=#33ffffff);
}

.state>span {
	display: block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: white;
}

.jobPerson {
	margin-top: 10px;
	height: 318px;
}

.changePerson {
	margin-top: 10px;
}
.stateList>img{
	width: 100%;
	height: 274px;
}
/* .jobPerson .stateList>img{
	width: 100%;
	height: 284px;
} */

/* --------------------------------实时报警事件---------------------------- */
.dataList {
	width: 100%;
}
/* 表格 */
.dataList .dataListTable {
	width: 606px;
	margin: 0 10px;
}
.dataList .dataListTable tr {
	border-bottom: 2px solid #081f66;
}
.dataList .dataListTable thead th,
.dataList .dataListTable tbody td {
	text-align: center;
	height: 22px;
	line-height: 22px;
	font-size: 10px;
	color: #fff;
	background-color: #125ecc;
	border-right: 2px solid #081f66;
}
.dataList .dataListTable tbody tr td{
	font-weight: normal;
	background-color: #3e8ccc;
}
.dataList .dataListTable .width64{
	width: 64px;
}
.dataList .dataListTable .width134{
	width: 134px;
}
.dataList .dataListTable .width114{
	width: 114px;
}
.dataList .dataListTable .width150{
	width: 150px;
}
.dataList .dataListTable .width136{
	width: 136px;
	border: none;
}
.dataList .alertFlow {
	width: 100%;
	margin-top: 10px;
	background-color: rgba(255, 255, 255, 0.12);
}
/* 圆饼图 */
.dataList .dataPieChart {
	width: 212px;
}

/* --------------------------设备感知概况------向下---------------------- */
.equipmentPerception .stateList{color:#fff;background: url(../img/bg_small.png) no-repeat;background-position: initial;background-size: contain;}
.equipmentPerception .stateList .top{margin:16px 0;padding:0 10px; text-align: center;}
.equipmentPerception .stateList .top .item{display: inline-block;width:32%;text-align: center;}
.equipmentPerception .stateList .top .item .type{margin:5px 0;}
.equipmentPerception .stateList .top .item .num{display: inline-block;}

.equipmentPerception .stateList .bottom{margin-bottom:10px;padding-left:10px;}
.equipmentPerception .stateList .bottom .item{
	position: relative;
	margin-right: 10px;
	float: left;
	width:152px;height:66px;box-sizing: border-box;border:1px solid #195399;}
.equipmentPerception .stateList .bottom .item .left{
	float: left;
	text-align: center;
	padding:8px 12px;
	/* display:inline-block; */
	height:64px;width:36px;background-color: rgba(0,124,216,0.2);}
.equipmentPerception .stateList .bottom .item .left .vertical{width:12px;}
.equipmentPerception .stateList .bottom .item .right{display:inline-block;text-align: center;position: relative;padding-top:12px;width:114px;}
.equipmentPerception .stateList .bottom .item .short-line{position: absolute;width: 36px;height: 1px;border-bottom: 1px solid #00b7f1;}
.equipmentPerception .stateList .bottom .item .short-line.top-left{top:0;left:0;}
.equipmentPerception .stateList .bottom .item .short-line.top-middle{top:0;left:58px;}
.equipmentPerception .stateList .bottom .item .short-line.top-right{top:0;right:0;}
.equipmentPerception .stateList .bottom .item .short-line.bottom-left{bottom:0;left:0;}
.equipmentPerception .stateList .bottom .item .short-line.bottom-middle{bottom:0;left:58px;}
.equipmentPerception .stateList .bottom .item .short-line.bottom-right{bottom:0;right:0;}
.equipmentPerception .stateList .bottom .item .right .proportion{margin-top: 5px;}
.equipmentPerception .stateList .bottom .item .right .proportion>div{ height: 4px;position: absolute;left: 12px;}
.equipmentPerception .stateList .bottom .item .right .proportion>div.baseline{ width:90px;background-color:#e66b62; }
.equipmentPerception .stateList .bottom .item .right .proportion>div.topline{ width:70px;background-color: #5dc274;}


/* --------------------------设备感知概况------向上---------------------- */

/* --------------------------值班人员信息------向下---------------------- */
.jobPerson{
	overflow-y: hidden;
}
.jobPerson .stateList{
	height: 282px;
	background: url(../img/bg_small.png) no-repeat;
	background-position: initial;
    background-size: contain;
	color:#fff;
	position: relative;
}

.jobPerson .stateList .left{
	width: 96px;
    position: absolute;
    height: 224px;
    top: 29px;
    left: 20px;
    /* bottom: 20px; */
}
.jobPerson .stateList .left .item{
	width:96px;
	height:48px;
	font-size:12px;
	position: relative;
	box-sizing: border-box;
	text-align: center;
    line-height: 24px;
}
.jobPerson .stateList .left .item.first{margin-bottom:40px;}
.jobPerson .stateList .left .item.last{margin-top:40px;}

.jobPerson .stateList .left .item .corner{
	display: inline-block;
	width:16px;
	height:8px;
	position: absolute;

}
.jobPerson .stateList .left .item .corner.left-top{border-left:1px solid #00b7f1;border-top:1px solid #00b7f1;left:0;top:0;}
.jobPerson .stateList .left .item .corner.right-top{border-right:1px solid #00b7f1;border-top:1px solid #00b7f1;right:0;top:right;}
.jobPerson .stateList .left .item .corner.left-bottom{border-left:1px solid #00b7f1;border-bottom:1px solid #00b7f1;left:0;bottom:0;}
.jobPerson .stateList .left .item .corner.right-bottom{border-right:1px solid #00b7f1;border-bottom:1px solid #00b7f1;right:0;bottom:0;}
.jobPerson .stateList .right{
	width: calc(102px + 114px + 138px + 4px);
    box-sizing: border-box;
    position: absolute;
    font-size: 10px;
    padding: 14px 10px 14px 0;
    right: 0;
}
/* bootstrap table样式重写 */
.jobPerson .stateList .right .table{height:252px;margin-bottom:0;}
.jobPerson .stateList .right .table>thead>tr>th.first{width:102px;}
.jobPerson .stateList .right .table>thead>tr>th.middle{width:114px;}
.jobPerson .stateList .right .table>thead>tr>th.last{width:138px;}
.jobPerson .stateList .right .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	padding:0;
	text-align:center;
	box-sizing: content-box;
	height:22px;
	line-height:22px;
}
.jobPerson .stateList .right .table-bordered{border: 1px solid #4f5c8d;}
/* .jobPerson .stateList .right .table-bordered{
	border: 1px solid rgba(255,255,255,.2);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff,endColorstr=#33ffffff);
} */
.jobPerson .stateList .right .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {border-bottom-width: 1px;}
.jobPerson .stateList .right .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {border: 1px solid #4f5c8d;}

/* --------------------------值班人员信息------向上---------------------- */